<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Orbitron|Raleway" rel="stylesheet">
  <title>Welcome!</title>
</head>
<body>
  <main>
    <h1>Welcome to the First Martian Real Estate!</h1>
    <h2>Here are our beautiful cottages for sale!</h2><a href="/users/login">Sign In/Sign Up</a>
    
    {{#housesData}}
    <div>
      <h3>{{name}}</h3>
      <h4>{{price}}</h4>
      <img src="{{image}}">
     
      <a href="/houses/{{id}}">See details!</a>
    </div>
    {{/housesData}}
  </main>
  
</body>
</html>