<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Orbitron|Raleway" rel="stylesheet">
  <title>All Neighbors</title>
</head>
<body>
  <main>
    <h1>Here are all neighbors!</h1>
    {{#neighborsData}}
    <div>
      <img src="../{{nei_image}}">
      <h2><a href="/neighbors/{{id}}">{{nei_name}}</a></h2>
    </div>
    {{/neighborsData}}
    <a href="/houses">Back to all Houses!</a>
  </main>
</body>
</html>